{% extends 'base.html.twig' %}
{% block title %} UCFIRST ! {% endblock %}
{% block stylesheets %}
<style>
    #content {
        position: relative;
        display: block;
        right: 0;
        bottom: 0;
        margin-left: 40px;
        margin-top: 40px;
        z-index: 900;
    }
</style>
{% endblock %}

{% block body %}
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Home &gt; Tableau de bord</span>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search">
                        <label class="mdl-textfield__label" for="search">Enter your query...</label>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                    <li class="mdl-menu__item">A Propos</li>
                    <li class="mdl-menu__item">Contact</li>
                    <li class="mdl-menu__item">Mention légale</li>
                </ul>
            </div>
        </header>
        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
                <img src="{{ asset('bundles/framework/images/user.jpg') }}" class="demo-avatar">
                <div class="demo-avatar-dropdown">
                    <span>hello@example.com</span>
                    <div class="mdl-layout-spacer"></div>
                    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">arrow_drop_down</i>
                        <span class="visuallyhidden">Accounts</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                        <li class="mdl-menu__item">hello@example.com</li>
                        <li class="mdl-menu__item">info@example.com</li>
                        <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
                    </ul>
                </div>
            </header>
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Tableau de bord</a>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Excel to SQL</a>
                {#<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i></a>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Spam</a>#}
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>UCFirst</a>
                {#<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Updates</a>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>#}
                <div class="mdl-layout-spacer"></div>
                <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
            </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
            <div id="content">
                <form action="#">
                    <h4>Make upper easily first caracter of a string</h4>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="text_to_transform" onkeyup="generate_uc_first(this.value)" onkeydown="generate_uc_first(this.value)" onchange="generate_uc_first(this.value)">
                        <label class="mdl-textfield__label" for="text_to_transform">Enter your text...</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-left: 30px">
                        <input class="mdl-textfield__input" type="text" id="result_text" readonly>
                        <label class="mdl-textfield__label" for="result_text" id="label_result"></label>
                    </div>
                    <script src="{{ asset('bundles/framework/css/clipboard.min.js') }}"></script>
                    <script type="text/javascript">
                        new Clipboard('.btn');
                    </script>
                    <button id="demo-show-toast" data-clipboard-target="#result_text" class="mdl-button mdl-js-button mdl-button--raised btn" type="button" style="margin-left: 50px;margin-bottom: 14px;">Click to Copy</button>
                    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
                        <div class="mdl-snackbar__text"></div>
                        <button class="mdl-snackbar__action" type="button"></button>
                    </div>
                    <script>
                        (function() {
                            'use strict';
                            window['counter'] = 0;
                            var snackbarContainer = document.querySelector('#demo-toast-example');
                            var showToastButton = document.querySelector('#demo-show-toast');
                            showToastButton.addEventListener('click', function() {
                                'use strict';
                                var data = {message: 'Copy to clipboard #' + ++counter};
                                snackbarContainer.MaterialSnackbar.showSnackbar(data);
                            });
                        }());
                    </script>
                </form>
                {#<a href="#" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">Click to copy</a>#}
            </div>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script type="text/javascript">
        function generate_uc_first(txt) {
            $("#result_text").attr('value',txt.charAt(0).toUpperCase() + txt.substring(1).toLowerCase());
        }
    </script>
{% endblock %}
